.header{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navigation{
    margin-left: auto;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
}

.intro{
    display: flex;
    flex-direction: row;
}

.card{
    display: flex;
    flex-direction: column;
}